/*------------------- DIV AND CONTAINER CSS -------------------*/

#root {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 16px 16px 0px 16px;
}

.time {
  text-align: left;
  font-family: 'Inter', sans-serif;
  width: 10%;
}

.logo {
  flex-grow: 2;
  text-align: center;
}

.date {
  text-align: right;
  font-family: 'Inter', sans-serif;
  width: 10%;
}

.landing-row {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-grow: 2;
  padding: 10% 0%;
}

.landing-row-left {
  display: flex;
  align-items: flex-start;
}

.greeting-1 {
  text-align: left;
}

.landing-row-right {
  display: flex;
  align-items: flex-end;
}

.greeting-2 {
  text-align: right;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links {
  text-align: center;
  padding: 0% 2%;
}

.projects-section {
  display: flex;
  flex-grow: 2;
  align-items: stretch;
  flex-basis: 50vh;
}

.projects-scroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200%;
  height: 100%;
  flex-grow: 2;
}

.projects-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-photos {
  height: 240px;
  width: 160px;
  position: absolute;
}

.projects-text {
  position: absolute;
  top: 45%;
}