/*------------------- DIV AND CONTAINER CSS -------------------*/

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.time-date-col {
  height: 200vh;
  padding-bottom: 5%;
}

.time-date {
  position: sticky;
  top: 2%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.landing-greeting {
  position: sticky;
  top: 45%;
  margin-left: 15%;
  padding-bottom: 10%;
}

.links {
  margin-top: 15%;
}

.landing-col {
  height: 200vh;
}

.links-col {
  padding-top: 100vh;
}

.footer-col {
  font-family: 'Inter', sans-serif;
  padding-top: 100vh;
  text-align: center;
}

@media (max-width: 731px) {
  .landing-col {height: 100vh;}
  .links-col {padding-top: 10vh; height: 100vh;}
  h1 {font-size: 4rem;}
}