/*------------------- DIV AND CONTAINER CSS -------------------*/

#root {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

/*------------------- HOMEPAGE -------------------*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 16px 16px 0px 16px;
}

.time {
  text-align: left;
  font-family: 'Inter', sans-serif;
  width: 10%;
}

.logo-container {
  flex-grow: 2;
  text-align: center;
  width: 100%;
}

.logo {
  color: #251818;
  transition: 0.25s;
}

.logo:hover {
  color: #D9CECE;
  background-color: #251818;
  padding: 2px 1%;
  border-radius: 20px;
  transition: 0.25s;
}

.date {
  text-align: right;
  font-family: 'Inter', sans-serif;
  width: 10%;
}

.landing-section {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-grow: 2;
  padding: 10% 0%;
}

.landing-row-left {
  display: flex;
  align-items: flex-start;
}

.greeting-1 {
  text-align: left;
}

.landing-row-right {
  display: flex;
  align-items: flex-end;
}

.greeting-2 {
  text-align: right;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links {
  text-align: center;
  color: #251818;
  padding: 0% 2%;
  margin: 0% 1%;
  border-radius: 50px;
  transition: 0.25s;
}

.links:hover {
  cursor: pointer;
  background-color: #251818;
  color: #D9CECE;
  transition: 0.25s;
}

/*------------------- PROJECTS -------------------*/

.projects-section {
  background-color: #E4C77D;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: stretch;
  flex-basis: 50vh;
}

.projects-list {
  display: flex;
  flex-direction: column;
  padding: 0% 10%;
}

.projects-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: #251818;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  margin-bottom: 2%;
}

.scroll-title-projects {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  animation: scrollProjects 6s infinite linear;
  transition: all 1s ease;
}

@keyframes scrollProjects {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-227px);
  }
}

/*------------------- ABOUT -------------------*/

.about-section {
  background-color: #E4C77D;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex: 5;
  align-items: stretch;
  overflow-y: auto;
  overflow-x: hidden;
}

.about-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.about-dp {
  position: absolute;
  border-radius: 360px;
  height: 50vh;
  width: 50vh;
  justify-self: center;
}

.scroll-wrapper-about {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  z-index: 3;
}

.scroll-title-about {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  animation: scrollAbout 6s infinite linear;
  transition: all 1s ease;
}

@keyframes scrollAbout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-263px);
  }
}

.about-description {
  margin: 0% 10%;
}

.about-technologies {
  margin: 5% 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 7.5%;
}

ion-icon {
  font-size: 4rem;
  background-color: #c4ab6b;
  color: black;
  padding: 5%;
  border-radius: 16px;
}

